#map {
        min-height: 75%;
        width: 50%;
        margin: 0px auto;
       
        display: inline-block;
        
        
        
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
         height: 100%;
        width: 100%;
        margin: 0;
        padding: 10;
          
   }


